#contents{
    height: 800px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
#tab{
    width: 25%;
    background-color: blue;
    margin-right: 15px;
}
#iconline{
    background-color: fuchsia;
}
#icon img{
    height: 60px;
    padding-left: 10px;
}
.items-center{
    align-items: center;
}
#title{
    font-size: 30px;
    font-weight: 600;
    padding-left: 20px;
    color: deepskyblue;
}
.flex{
    display: flex;
}
#main{
    width: 50%;
    background-color: chartreuse;
}
#sub{
    margin-left: 15px;
    width: 25%;
    background-color: coral;
}
.center{
    text-align: center;
    background-color: darkblue;
}
.search_container {
    width: 100%;
}
.search_container input[type="text"]{
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 3px;
    height: 2.2em;
    overflow: hidden;
    width: 60%;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
    height: 2.0em;
  }
  .search_container input[type="submit"]{
      width: 15%;
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.2em;
    border: none;
    background: #3879D9;
    border: 1px solid #3879D9;
    border-radius: 3px;
    color: #fff;
    outline : none;
    width: 3.5em;
    height: 1.9em;
    display: inline-block;
    vertical-align: middle;
}
#home{
    display: flex;
    align-items: center;
    width: 100%;
}
#home img{
    height: 70px;
}
#home div{
    font-size: 250%;
}
#main_title{
    height: 60px;
    font-size: 30px;
    border-bottom: #fff 1px solid;
}
#main_user{
    margin-top: 10px;
    display:table;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    background-color: aqua;
}
#textarea{
    margin-top: 10px;
    width: 100%;
}
#textarea textarea{
    font-size: 18px;
}
